/OCLAllInstances.abs
/OCLAllInstances.aux
/OCLAllInstances.log
/OCLAllInstances.out
/OCLAllInstances.synctex.gz
/OCLAllInstances.xmpdata
/OCLCascades.abs
/OCLCascades.log
/OCLCascades.out
/OCLCascades.synctex.gz
/OCLCascades.xmpdata
/OCLCollections.abs
/OCLCollections.synctex.gz
/OCLCollections.xmpdata
/OCLCascades.aux
/pdfa.xmpi
