<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/03/15 07:51:54 ewillink Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ocl.eclipse.org/tutorial/eclipsecon2011/OCLStates"
            class="org.eclipse.ocl.tutorial.eclipsecon2011.oclstates.OCLStatesPackage"
            genModel="model/OCLStates.genmodel"/>
   </extension>

</plugin>
