/OCLMapType.aux
/OCLMapType.log
/OCLMapType.synctex.gz
/OCLLibrarySupport.aux
/OCLLibrarySupport.bbl
/OCLLibrarySupport.blg
/OCLLibrarySupport.log
/OCLLibrarySupport.out
/OCLLibrarySupport.synctex.gz
/OCL2022Library.zip
